[filter "usharp-prefab"]
  smudge = node .gitscripts/filter-usharp-prefab.js
  clean = node .gitscripts/filter-usharp-prefab.js

[diff "usharp-prefab"]
  textconv = node .gitscripts/filter-usharp-prefab.js

[mergetool "unityyamlmerge"]
	trustExitCode = false
	cmd = 'C:\\Program Files\\Unity\\Hub\\Editor\\2019.4.31f1\\Editor\\Data\\Tools\\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
